hr {
  margin-top: 0.75rem;
  margin-bottom: 1rem;
}

.article-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

@media (min-width: 1024px) {
  .article-content {
    display: grid;
    grid-template-columns: auto auto;
    place-items: center;
    gap: 2.75rem;
  }
}