@import "tailwindcss";

:root {
  --background: #ffffff;
  --background-secondary: #eee;
  --background-dark: #14213d;
  --foreground: #000000;
  --foreground-secondary: #555;
  --accent: #fca311;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}

hr {
  border-color: var(--accent);
  border-width: 1px;
  width: 100%;
}

h1 {
  font-weight: 600;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1.125rem;
}

.link {
  color: var(--accent);
}

.link:hover {
  text-decoration: underline;
}
