@import "tailwindcss";

:root {
  --font-crimson-pro: 'Crimson Pro', serif;
  --font-crimson-text: 'Crimson Text', serif;
  --background: #ffffff;
  --background-secondary: #e5e5e5;
  --background-dark: #14213d;
  --foreground: #000000;
  --accent: #fca311;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}