@import "tailwindcss";

:root {
  --background: #ffffff;
  --background-secondary: #eee;
  --background-dark: #14213d;
  --foreground: #000000;
  --foreground-secondary: #555;
  --accent: #fca311;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}

hr {
  border-color: var(--accent);
  border-width: 1px;
  width: 100%;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

@media (width >= 40rem /* 640px */) {
  h1 {
    font-size: 3.75rem;
  }
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1.125rem;
  margin: 0.75em 0;
}

button {
  cursor: pointer;
  min-width: fit-content;
  border-radius: 2px;
  font-size: 0.875rem;
  background-color: var(--accent);
  padding: 0.5rem 1rem 0.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  filter: brightness(1.15);
}

input,
textarea {
  background: var(--background-secondary);
  padding: 1rem;
  border: none;
  width: 100%;
}

.link {
  color: var(--accent);
}

.link:hover {
  text-decoration: underline;
}

.errMsg {
  color: #fb2c36;
}

.shadow-custom {
  filter: drop-shadow(-2px 4px 2px color-mix(in srgb, var(--background-dark) 35%, transparent));
}
